<html data-theme="pastel">
  <div data-controller="timer">
    <div class="flex justify-center items-center min-h-screen bg-gray-100">
      <div class="text-center">
        <div class="grid grid-flow-col gap-5 text-center auto-cols-max">
          <div class="flex flex-col">
            <span class="font-mono text-5xl">
              <span data-timer-target="hours">00</span>
            </span>
            時間 
          </div> 
          <div class="flex flex-col">
            <span class="font-mono text-5xl">
              <span data-timer-target="minutes">00</span>
            </span>
            分
          </div>
        </div>

        <!-- ストップウォッチのコントロールボタン -->
        <div>
          <button data-action="click->timer#start" class="btn btn-primary">Start</button>
          <button data-action="click->timer#pause" class="btn btn-secondary">Pause</button>
          <button data-action="click->timer#reset" class="btn btn-accent">Reset</button>
        </div>
      </div>
    </div>
  </div>
</html>
